.step-button-container {
    display: table-cell;
    position: relative;
    height: 70px;
    vertical-align: middle;
    padding-left: 2rem;
    padding-right: 1rem;
    width: 230px;
}

.step-button {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.step-button-text {
    left: 13px;
    top: -10px;
    position: relative;
}

.step-button-background {
    color: rgba(255, 255, 255, 0.2);
    font-size: 55px;
    vertical-align: baseline;
    top: -5px;
}

.step-button-foreground {
    color: white;
    font-size: 45px;
    position: relative;
    top: -2px;
    left: 6px;
}

.step-button-fa-container {
    vertical-align: baseline;
}

.logo {
    color: #62BFE1 !important;
}

.logo-graphic {
    color: #3DF757 !important;
}

.topbar {
    background-color: rgb(59, 175, 218)
}

.topbar .topbar-left {
    height: 71px;
}

.left-main-icon {
    color: #3bafda;
    margin-right: 15px;
}

#left-side-menu,
#left-side-menu ul,
#left-side-menu li,
#left-side-menu a {
    border: 0;
    font-weight: normal;
    line-height: 1.2;
    list-style: none;
    padding: 0;
    position: relative;
    text-decoration: none;
    margin-top: 1rem;
}

.left-main-heading {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 20px!important;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
    color: #a2acae;
    margin-top: 40px !important;
    padding-left: 32px !important;
    background: #1f2427;
}

#list-item-container {
    margin-left: 1rem;
    font-size: 13px;
    margin-right: 5px;
}

.list-item-text {
    display: table-cell;
    margin-left: 1rem;
    color: #a2acae;
}

.list-item-text-selected {
    margin-left: 1rem;
    display: table-cell;
    color: #a2acae;
}

.list-item-radio {
    width: 24px;
    display: table-cell;
}

.list-item-radio-selected {
    color: rgb(59, 175, 218);
    width: 14px;
    display: table-cell;
    font-size: 12px;
    top: -2px;
    padding-right: 12px;
}

.bd-page-title-box {
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.03);
    padding: 20px;
    margin: -20px -20px 22px -20px;
}

.bd-page-title {
    margin-bottom: 0px;
    margin-top: 0px;
}

.bd-page-title-box .breadcrumb {
    margin-top: 0px;
    padding-top: 2px;
}

h4 {
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #505458;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
}
